.navigation {
  padding-top: 30px;
  padding-bottom: 50px;
}

.nav__container {
  padding: 0 130px;
}

.nav__wrapper {
  display: flex;
  flex-direction: row;
  gap: 96px;
  justify-content: center;
}

.nav__list-menu {
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: center;
}

.nav__list-item {
  cursor: pointer;
  transition-duration: 0.5s;
}

.nav__list-item:hover {
  color: var(--color-one, #CD06FF);
}

.nav__list-text {
  font-family: Arial, sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 50px;
  text-transform: uppercase;
}

.nav__button {
  font-family: Arial, sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  width: 280px;
  height: 55px;
  color: var(--main-color, #fff);
  border: 3px solid var(--color-one, #CD06FF);
  border-radius: 10px;
  background-color: var(--color-four, #000);
  transition-property: background-color, color;
  transition-duration: 0.5s;
}

.nav__button:hover {
  background-color: var(--color-two, #6C0287);
  border: 3px solid var(--color-two, #6C0287);
}

.nav__button:active {
  background-color: var(--color-five, #640AA3);
  border-color: var( --color-four, #000);
}

.nav__button:focus {
  background-color: var(--color-two, #6C0287);
  border: 3px solid var(--color-two, #6C0287);
}

