.navigation {
  padding-top: 30px;
  padding-bottom: 50px;
}

.nav__container {
  padding: 0 130px;
}

.nav__wrapper {
  display: flex;
  flex-direction: row;
  gap: 96px;
  justify-content: center;
}

.nav__list-menu {
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: center;
}


.nav__list-text {
  font-family: Arial, sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 50px;
  text-transform: uppercase;
}

.nav__button {
  font-family: Arial, sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  width: 280px;
  height: 55px;
  color: #fff;
  border: 3px solid #CD06FF;
  border-radius: 10px;
  background-color: #000;
}

.nav__button:hover {
  background-color: #6C0287;
  border: 3px solid #6C0287;
}

.nav__button:active {
  background-color: #640AA3;
  border-color: #000;
}

.nav__button:focus {
  background-color: #6C0287;
  border: 3px solid #6C0287;
}

