.question__item {
  background-color: #fff;
  color: #1C1A1A;
  font-weight: 700;
  font-size: 24px;
  padding: 30px 70px;
  position: relative;
  width: 1180px;
  height: 87px;
  margin-right: 0;
}

.question__item:not(:last-child) {
  margin-bottom: 20px;
  }

.question__item:nth-child(2n) {
  color: white;
  background-color: #440F51;
}

.question__item:nth-child(odd)::after {
  content: "";
  display: block;
  background-image: url("../faq/icon/open-purple.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 40px;
  height: 40px;
  float: right;
  margin: 0;
  position: absolute;
  top: 25px;
  right: 100px;
}

.question__item:nth-child(even)::after{
  content: "";
  display: block;
  background-image: url("../faq/icon/open.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 40px;
  height: 40px;
  float: right;
  margin: 0;
  position: absolute;
  top: 25px;
  right: 100px;
}

.question__list {
  padding-left: 130px;
}
