
h1 {
  font-size: 150px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.banner {
  padding: 146px 0 50px;
}


h2 {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
