:root {
  --color-one: #CD06FF;
  --color-two: #6C0287;
  --color-three: #440F51;
  --color-four: #000;
  --color-five: #640AA3;
  --color-six: #840AA3;
  --color-seven: #EADEED;
  --color-eight: #C4C4C4;
  --color-nine: #1C1A1A;
  --main-color: #fff;
}
