.contacts__list {
  padding-left: 130px;
}

.contacts-section {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-decoration: none;
}

.contacts__item {
  cursor: pointer;
  transition-duration: 0.5s;
}

.contacts__link {
  transition-duration: 0.5s;
}

/*
.contacts__item:hover {
  color: #CD06FF;
}
*/

.contacts__link:hover {
  color: var(--color-one, #CD06FF) !important;
}

.contacts__item:not(:last-child) {
  margin-bottom: 23px;
}

.contacts__image {
  float: left;
  margin-right: 40px;
}

.contacts__wrapper {
  position: relative;
}

.map {
  position: absolute;
  top: 71px;
  left: 630px;
  width: 680px;
  height: 274px;
}
