.social__item {
  display: inline-block;
  width: 48px;
  height: 48px;
}

.social__svg {
  fill: white;
  transition-duration: .5s;
}

.social__svg:hover {
  fill: var(--color-seven, #EADEED);
}

.social__svg:active {
  fill: var(--color-one, #CD06FF);
}

.social__svg:focus {
  fill: var(--color-seven, #EADEED);
  outline: 1px solid var(--color-one, #CD06FF);
}

.social__item:not(:last-child) {
  margin-right: 28px;
}

.social__list {
  padding-left: 130px;
  margin-bottom: 101px;
}

.copyright__wrapper {
  display: flex;
  flex-flow: row nowrap;
  gap: 898px;
  padding-top: 177px;
  padding-left: 130px;
}

.social__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
}

.mail {
  padding-left: 1175px;
}

.social__link-mail {
  cursor: pointer;
  transition-duration: 0.5s;
}

.social__link-mail:hover {
  color: var(--color-one, #CD06FF) !important;
}
