.booking__wrapper {
  padding: 80px 130px;
  background-color: var(--color-three, #440F51);
  position: relative;
}

fieldset {
  border: 0 none;
}

.legend__main {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 40px;
}

.input__wrapper {
  display: flex;
  flex-flow: row nowrap;
  gap: 60px;
  justify-content: center;
  margin-bottom: 60px;

}

.input__halls {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

}

.label__halls {
  width: 250px;
  height: 55px;
  background-color: var(--main-color, #fff);
  border-radius: 8px;
  color: var(--color-four, #000);
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  padding: 7px 15px;
  transition-duration: 0.5s;
}

.input__halls:checked + .label__halls {
  background-color: var(--main-color, #fff);
  border: 3px solid var(--color-five, #640AA3);
}

.entertainment__wrapper {
  display: flex;
  flex-flow: row nowrap;
  gap: 100px;
  justify-content: center;
  margin-bottom: 60px;
}

.console, .table-games, .additional {
  display: flex;
  flex-flow: column nowrap;
  gap: 22px;
}

.entertainment__legend {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
  margin-bottom: 24px;
}

.entertainment__text {
  font-size: 22px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
}

.date-and-time {
  width: 134px;
  height: 52px;
}

.booking__input {
  width: 280px;
  height: 52px;
}

.date-and-time__small-wrapper {
  display: flex;
  flex-flow: row nowrap;
  gap: 32px;
}

.date-and-time__wrapper {
  display: flex;
  flex-flow: row wrap;
  gap: 36px 50px;
  justify-content: center;
  margin-bottom: 40px;
}

.number, .large-input {
  width: 300px;
}

.booking__button {
  position: absolute;
  top: 994px;
  left: 910px;
  width: 300px;
  height: 60px;
  background-color: var(--main-color, #fff);
  border-radius: 10px;
  color: var(--color-two, #6C0287);
  font-size: 22px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  transition-property: background-color, color;
  transition-duration: 0.5s;
}

.label__halls:hover {
  background-color: var(--color-seven, #EADEED);
  border: 3px solid var( --color-five, #640AA3);
}

.label__halls:active {
  background-color: var(--color-two, #6C0287);
  border: 3px solid var(--main-color, #fff);
}

.label__halls:focus {
  background-color: var(--main-color, #fff);
  border: 3px solid var(--color-five, #640AA3);
}

.booking__button:hover {
  background-color: var(--color-seven, #EADEED);
  border: 3px solid var(--color-two, #6C0287);
}

.booking__button:active {
  background-color: var(--color-seven, #EADEED);
}

.booking__button:focus {
  background-color: var(--main-color, #fff);
  border: 3px solid var(--color-two, #6C0287);
}

.date-and-time:focus, .booking__input:focus {
  border: 2px solid var(--color-one, #CD06FF);
}
